/* stylelint-disable selector-list-comma-newline-after */

vname {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    color: #158467;
}

hd {
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    color: #158467;
}

subhd {
    font-size: 25px;
    font-weight: 900;
    text-align: left;
}

/*
 * Blog posts
 */
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    color: #727272;
}

.description{
    font-size: 1.25rem;
}

